.customBox {
    padding-top: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding-left: 20px;
  }
  
  .w3Padding16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  
  .w3Xxlarge {
    font-size: 48px !important;
  }
  
  .w3RowPadding {
    padding: 0 8px;
    display: flex;
    gap: 16px; /* 아이템 사이에 간격을 추가 */
    flex-wrap: wrap;

  }
  
  .w3Quarter {
    float: left;
    width: 100%;
  }
  
  .w3MarginBottom {
    margin-bottom: 16px !important;
  }
  
  .w3Left {
    float: left !important;
  }
  
  .w3Right {
    float: right !important;
  }
  
  .w3Container {
    padding: 0.01em 16px;
  }
  
  .w3Clear {
    content: "";
    display: table;
    clear: both;
  }
  
  .w3Red,
  .w3HoverRed:hover {
    color: #fff !important;
    background-color: #f44336 !important;
  }
  
  .w3Blue,
  .w3HoverBlue:hover {
    color: #fff !important;
    background-color: #2196F3 !important;
  }
  
  .w3Teal,
  .w3HoverTeal:hover {
    color: #fff !important;
    background-color: #009688 !important;
  }
  
  .w3Orange,
  .w3HoverOrange:hover {
    color: #000 !important;
    background-color: #ff9800 !important;
  }
  
  .w3TextWhite {
    color: #fff !important;
  }
  